<h1>{{ value }} {{ myFlowplayer.sliding  }}</h1>
<input type="range" name="points" min={{ min }} max={{ max }} value={{ value }} step="any"
  oninput={{ action "sliderEvent" }} onchange={{ action "select" }} mouseMove={{ action "focusOut"}}>